* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.parent{
    height: 500px;
    width: 500px;
    background-color: bisque;
}

.children{
    height: 200px;
    width: 50%;
    padding: 10px;
    background-color: aqua;
}